

body{

    font-family: 'arial';
    font-size: 1em;
}


#menu{
    
    background-color: rgb(54, 54, 54);
    width: 100%;
    position: fixed;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
#menu ul li{

display: inline-block;

}

#menu ul li a{

    color:white;
    display:block;
    padding: 15px 30px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #42b881;
}



.contenedor{
    width: 750px;
    margin:auto;
    
}



#sufijo_10{font-family:'arial';  font-size: 0.9em; font-style: italic; color:#969595}


#segmento summary{
    color:rgb(2, 76, 136);
    font-weight: 545;
    display:block;
    padding: 15px 15px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #020091;
    
    text-decoration: none;
    display: flex;
    align-items: center;
        
}



#segmento summary:hover{
    background-color: #e6e6e6;
    
}


#enlaces li {

    
    
    display: block;
    display: flex;
    align-items: center;
    
    
}

#enlaces p{

    color:red;
}

#enlaces a {

    text-decoration: none;
        
    
}


#primernivel {

    list-style: none;
    color: black;
    font-size: 0.9em;
    text-align: justify;
    line-height: 20px;
    
   
}

#primernivel li{

    color:rgb(0, 0, 0);
    font-size: 1 em;
    display:block;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #3e3e41;
    
    text-decoration: none;
    display: flex;
    align-items: center;
    
    
    
}


#primernivel li a{

    color:black;
    font-size: 1em;
    display:block;
    width: 100%;
    text-decoration: none;
    

}


#primernivel li a:hover{

    background-color: #e6e6e6;

}

#segundonivel summary {

    color:black;
    font-size: 0.9em;
    padding: 0px;
    line-height: 40px;

}

#segundonivel li {

    color:black;
    font-size: 0.9em;
    
    text-decoration: none;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    display: flex;
    align-items: center;
    line-height: 20px;
    text-align: justify;
    width: 100%;
    padding: 0px;

    display: inline-block; 

}


#tercernivel summary {

    background-color: #ffe7e7;
    line-height: 40px;
   

}

#tercernivel li{

    color:black;
    font-size: 0.9em;
    display:block;
    text-decoration: none;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    

}

#tercernivel li a{

    color:black;
    font-size: 1em;
    display:block;
    width: 100%;
    

}


#tercernivel li a:hover{

    background-color: #e6e6e6;

}


#cuartonivel li{

    color:black;
    font-size: 0.9em;
    display:block;
    text-decoration: none;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    display: flex;
    align-items: center;

}







#selector ol{
        list-style: none;
        
        
        
}

#selector ol li a{
    font-size: 0.9em;
    color:black;
    display:block;
    padding: 15px 30px;
    border-top-style:dotted;border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #999999;
    text-decoration: none;
        
}

#selectorfin a{
border-bottom: dotted;border-width: 1px;
}

#selector ol li a:hover{
    background-color: #e6e6e6;
    
}






#segmento2 summary{
    color:rgb(3, 102, 33);
    
    font-size: 0.9em;
    display:block;
    padding: 15px 30px;
    border-top-style:solid;border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #c4c4c4;
    text-decoration: none;
    
    

}


#selector_caduco span{
    color:#aaaaaa;
    
    }

#selector ol li img{
    vertical-align: middle; 
}

#selector ol li iframe{
    vertical-align: middle; 
}

table,td {
	border: 1px solid black;
}
