

body{

    font-family: 'arial';
    font-size: 1em;
}


#menu{
    
    background-color: rgb(173, 173, 173);
    width: 100%;
    position: fixed;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
#menu ul li{

display: inline-block;

}

#menu ul li a{

    color:white;
    display:block;
    padding: 15px 30px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #42b881;
}



.contenedor{
    width: 750px;
    margin:auto
}






#segmento summary{
    color:green;
    font-weight: 545;
    display:block;
    padding: 15px 15px;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    
    text-decoration: none;
    display: flex;
    align-items: center;
        
}



#segmento summary:hover{
    background-color: #e6e6e6;
    
}



#segundonivel summary p{

    color:black;
    font-size: 0.9em;
    padding: 0;
    padding-left: 5px;

}

#segundonivel li {

    color:black;
    font-size: 0.9em;
    
    text-decoration: none;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    display: flex;
    align-items: center;
    line-height: 25px;
    text-align: justify;
    width: 100%;
    padding: 0px;

    display: inline-block; 

}




#tercernivel summary {

    background-color: #ffe7e7;
   

}

#tercernivel li{

    color:black;
    font-size: 0.9em;
    display:block;
    text-decoration: none;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    display: flex;
    align-items: center;

}

#tercernivel li a{

    color:black;
    font-size: 1em;
    display:block;
    width: 100%;
    

}


#tercernivel li a:hover{

    background-color: #e6e6e6;

}


#cuartonivel li{

    color:black;
    font-size: 0.9em;
    display:block;
    text-decoration: none;
    border-top-style:dotted;
    border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #053f0f;
    display: flex;
    align-items: center;

}







#selector ol{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        
}

#selector ol li a{
    font-size: 0.9em;
    color:black;
    display:block;
    padding: 15px 30px;
    border-top-style:dotted;border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #999999;
    width: 90%;
    text-decoration: none;
    margin-left: 20px;
    
}

#selectorfin a{
border-bottom: dotted;border-width: 1px;
}

#selector ol li a:hover{
    background-color: #e6e6e6;
    
}


#selector1 ol li a{
    margin-left: 50px;  
}




#segmento2 summary{
    color:black;
    
    font-size: 0.9em;
    display:block;
    padding: 15px 30px;
    border-top-style:solid;border-width: 1px;
    border-right-style:none;
    border-left-style:none;
    border-color: #c4c4c4;
    width: 90%;
    text-decoration: none;
    margin-left: 10px;
    

}


#selector_caduco a{
    background-color: #f59f9f;
    }

#selector ol li img{
    vertical-align: middle; 
}

#selector ol li iframe{
    vertical-align: middle; 
}

